@page "/category"
@inject HttpClient http

<h2>Categories</h2>

@if(categories == null)
{
	<p><em>Loading...</em></p>
}
else if (categories.Length == 0)
{
	<p><em>No categories</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Category</th>
				<th>Description</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in categories)
			{
				<tr>
					<td>@category.Name</td>
					<td>@category.Description</td>
					<td><a class="btn btn-primary" href="category/edit/@category.CategoryId">Edit</a></td>
					<td><a class="btn btn-danger" @onclick="@(() => RemoveCategory(category.CategoryId))">Delete</a></td>
				</tr>
			}
			
		</tbody>
	</table>
}

<ConfirmDialog
	@ref="confirmDialog" 
	onCancel="@NotConfirmRemove"
	onConfirm="@ConfirmRemove">
	<div>This action couldn't be reverted</div>
</ConfirmDialog>

<hr />
<div>
	<a class="btn btn-success" href="category/add">New Category</a>
</div>
@code {

	Category[] categories { get; set; }

	ConfirmDialog confirmDialog;
	int categoryIdToBeRemoved;

	protected override async Task OnInitializedAsync()
	{
		await LoadCategories();
	}

	async Task LoadCategories()
	{
		categories = await http.GetFromJsonAsync<Category[]>("api/category");
	}

	async void RemoveCategory(int categoryId)
	{
		confirmDialog.Show();
		categoryIdToBeRemoved = categoryId;

	}

	async Task ConfirmRemove()
	{
		await http.DeleteAsync($"api/category/{categoryIdToBeRemoved}");
		confirmDialog.Hide();
		await LoadCategories();
	}

	void NotConfirmRemove()
	{
		confirmDialog.Hide();
	}
}
